.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: #f4f4f4;
  color: #4f4cee;
}

.dashboardBox {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.userInfo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #4f4cee;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}


.addButton {
  padding: 10px 20px;
  background-color: #4f4cee;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

