.events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
@media (max-width: 920px) {
    .events{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 640px) {
    .events{
        grid-template-columns: 1fr 1fr;
    }
}
