.card{
    display: flex;
    flex-direction: column;    
    padding: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    gap: 10px;
    width: max-content;
}
.card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.card_bottom{
    display: flex;
    justify-content: space-between;
}