.header{
    background-color:#FFFFFF;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    justify-content: space-between; /* Элементтердин ортосунда тең аралыктарды түзүү */
    align-items: center; /* Элементтерди вертикалдуу борборго жайгаштыруу */
    padding: 5px; /* Контейнердин ичиндеги отступ */
  }
  
  .title {
    font-size: 6vw; /* Тексттин өлчөмүн экрандын туурасына жараша жасоо */
    text-align: center;
  }
  .link {
    gap: 10px;
  }
  .link a{
    font-size: 1.5vw; /* Тексттин өлчөмүн экрандын туурасына жараша жасоо */
    color: #007bff;
    text-decoration: none;
    /* margin: 0 3%; Элементтердин ортосундагы отступ, % менен */
  }
  
  .link a:hover {
    text-decoration: underline; /* Курсорду шилтеменин үстүнө койгондо сызык пайда болот */
  }
  
  @media (max-width: 768px) {
    .content {
      padding: 4vw; /* Мобилдик түзмөктөр үчүн контейнердин ичиндеги отступту көбөйтүү */
    }
  
    .title {
      font-size: 8vw; /* Мобилдик түзмөктөр үчүн титулдун өлчөмүн көбөйтүү */
    }
  
   .link a {
      font-size: 1.5vw; /* Мобилдик түзмөктөр үчүн шилтемелердин өлчөмүн чоңойтуу */
      margin: 0 5%; /* Мобилдик түзмөктөр үчүн шилтемелердин ортосундагы отступту чоңойтуу */
    }
  }
  
  @media (max-width: 480px) {
    .content {
      padding: 6vw; /* Кичинекей экрандар үчүн контейнердин ичиндеги отступту чоңойтуу */
    }
  
    .title {
      font-size: 10vw; /* Кичинекей экрандар үчүн титулдун өлчөмүн дагы чоңойтуу */
    }
  
    .link a {
      font-size: 1.5vw; /* Кичинекей экрандар үчүн шилтемелердин өлчөмүн дагы чоңойтуу */
      margin: 0 5%; /* Кичинекей экрандар үчүн шилтемелердин ортосундагы отступту дагы көбөйтүү */
    }
  }
  

.header-content__last{
align-items: center;
display: flex;
text-decoration: none;


}

nav a{
text-decoration:none ;
margin-left: 45px;
margin-right: 45px;
margin-top: 2px;
color: black;


}

header{
    margin-top: 8px;
    margin-right:35px ;
}

.cakhed{
 margin-top: 8px; 
 margin-right:152px ;  
}

.last nav a {
    margin-top: 2px;
    color:#4F4CEE ;
    
    
}
.tytle{
   margin-top: 16px; 
   color: #4F4CEE;
}

@media(max-width: 900px){
    .tytle{
        color: red;
    }
}