.header {
  background-color: #fff;
  padding: 0px 2%;
  max-width: 980px;
  border-bottom: 0.1px solid #f4efef;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tytle {
  font-size: 1.4vh; /* Тексттин өлчөмүн экрандын туурасына жараша жасоо */
  text-align: center;
  /* margin-top: 16px; */
  color: #4f4cee;
}
.nav {
  display: flex;
  gap: 0.5vw;
}
.link {
  font-size: 1.4vw;
  font-weight: 600; /* Тексттин өлчөмүн экрандын туурасына жараша жасоо */
  color: #007bff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  background: transparent;
  padding: 0.5vh 2vw;
  border: 1px solid #007bff;
}

.link:hover {
  color: #fff;
  background: #4a90e2;
}


.circle {
  padding: 0.7vh 0.7vw;
  border-radius: 50%; /* Чтобы сделать круг */
  display: flex;
  justify-content: center;  /* Выравнивание по горизонтали */
  align-items: center;      /* Выравнивание по вертикали */
  background-color: #4f4cee; /* Цвет фона круга */
  color: white;        /* Цвет текста (буквы) */
  font-size: 1.4vh;      /* Размер шрифта */
  font-weight: bold;    /* Толщина шрифта */
  text-decoration: none;
}
